.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.button1 {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #5d882f;
  transition: background 0.3s ease;
  margin-right: 20px;
  text-decoration: none;
}

.button2 {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #e12828;
  transition: background 0.3s ease;
  margin-right: 20px;
  text-decoration: none;
}

.button1:hover {
  background: #8fc653;
  color: white;
}

.button3:hover {
  background: #8fc653;
  color: white;
}

img {
  max-width: 500px;
  height: auto;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
}

.main_show {
  background-color: #061400;
}

.container_show {
  max-width: 750px;
  align-items: center;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 60px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
