
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.user-photo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.user-photo h2 {
  margin-top: 10px;
  font-size: 2rem;
  text-align: left;
  font-family: 'Lato';
  font-weight: bold;
}

.details-user {
  margin-top: 20px;
  font-size: 1.2rem;
  text-align: left;
  font-family: 'Lato';
}

.bookings-dash {
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

.bookings-studios {
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: 'Lato';
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  font-family: 'Lato';
  font-weight: 200;
  font-size: 20px;
  background-color: rgb (255, 255, 255, 1)
}

th {
  font-weight: bold;
}

.studios-dash {
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;

}

.studios {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.eachstudio {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Lato';
}
.eachstudio {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Lato';
}

.eachstudio h2 {
  margin-bottom: 10px;
  font-family: 'Lato';
  font-weight: bold ;
}

.container-all-dash {
  display:flex;
  margin:auto;
}
