// Specific CSS for your home-page
.banner {
  background-size: 90%;
  background-position: top;
  //padding: 150px 0;
  height: 83vh;
  border-top: 2px #8fc653;
  border-top-style: solid;
  margin-bottom: 0px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  font-family: Lato;
  letter-spacing: 1px;
}

.banner p {
  font-size: 26px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: Lato;
  letter-spacing: 0.5px;

}



.btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 50px;
    background: #5d882f;
    transition: background 0.3s ease;
  }

  .btn-flat:hover {
    background: #8fc653;
    color: white;
  }

  .container {
    padding: 35vh 0px;
    margin-left: 20vh;
  }
