<div class="footer">
  <div class="footer-links">
    © Tree Sound Studios | 2023
  </div>
  <div class="footer-copyright">
    This footer was made by © Tree Roots<%= image_tag("tree", width: "25px") %>
  </div>
</div>
