<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://blog.bammusic.com/wp-content/uploads/2021/08/caught-in-joy-ptVBlniJi50-unsplash-min-scaled.jpg);">
  <div class="home">
    <h1><strong>Tree Sound Studios</strong></h1>
    <p>The roots of sound!</p>

    <%= link_to "See all Studios", studios_path, class: "btn btn-flat" %>

  </div>
</div>
