<section>
  <div>
    <div class="cards-container">
      <%= @studios.each do |studio| %>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <div class="cover item-a">
                <h1>Little<br>Bonsai</h1>
                <span class="price">$79</span>
                <div class="card-back">
                  <a href="#">Add to cart</a>
                  <a href="#">View detail</a>
                </div>
              </div>
            </div>
          </div>
          </div>
      <% end %>
    </div>
  </div>
</section>
