// Import page-specific CSS files here.

.banner_guitar {
  background-size: 90%;
  background-position: center;
  //padding: 150px 0;
  height: 25vh;
  border-top: 2px #8fc653;
  border-top-style: solid;
  margin-bottom: 0px;
}

.banner_guitar h1 {
  margin-top: 5vh;
  padding: 40px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  font-family: Lato;
  letter-spacing: 1px;
}
